html {
	font-size: 1.15rem;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: arial;
}

h1 {
	margin: 0.5rem;
}

code, #playground-output, #playground-input{
	font-family: courier, monospace;
}

#playground-input {
	padding: 5px;
}

.section {
	margin: 0rem 2.5%;
}

.container {
	margin: 1rem;
}

.list {
	margin: 0.5rem 1rem;
}

.image-gallery {
	display: grid;
	grid-template-columns: 100%;
}

.h-search {
	cursor: pointer;
}

#h-plus-search {
	color: blue;
}

#regressor-search, #number-search, #playground-search{
	display: none;
}

#pitchTypeRegressor {
	width: 100px;
}

#search-options {
	display: grid;
	grid-template-columns: 100%
}

img {
	width: 100%;
}

footer {
	margin: 1rem;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
	margin: 0 0vw 0 0vw;
  font-size: 0.8rem;
	margin: auto;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 5px 4px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

@media(min-width: 768px) {
	.section {
		margin: 0 15%;
	}

	.image-gallery {
		grid-template-columns: 50% 50%;
	}

	#search_options {
		grid-template-columns: 33% 33% 33%;
	}

	h1 {
		margin: 0.5rem 15%;
	}
	
	footer {
		margin: 1rem 15%;
	}
}

